<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfDHNPxIdXWOvQei2-Kxyy7Om84Z9SCjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>826237723506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lousalvant.TranslateMe</string>
	<key>PROJECT_ID</key>
	<string>translateme-1cb3e</string>
	<key>STORAGE_BUCKET</key>
	<string>translateme-1cb3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826237723506:ios:1f8a4e35c552908e9773eb</string>
</dict>
</plist>